#title {
    background-color: #334d9af5;
}

.container-fluid {
    padding: 3% 15%;
}

h1 {
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    font-size: 3rem;
    line-height: 1.5;
    color: #fff;
}

h2 {
    font-family: 'Raleway', sans-serif;
    color: rgb(0, 0, 0);
    font-size: 1.5;
    font-weight: bold;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 50px;

}

h3 {
    font-family: 'Raleway';
    font-weight: bold;
}

p{
    color: #949393;

}

.navbar {
    padding: 0 0 0rem;
    position: sticky;
}

.navbar-brand {
    font-family: 'Ubuntu'; 
    font-size: 2.0rem;
    font-weight: bold;
}

.nav-item {
    padding: 0 18px;
}

.nav-link {
    font-family: 'Raleway', sans-serif;
    font-size: 1.2rem;
}

.title {
    margin-top: 70px;
}

.title_portfolio {
    text-align: center;
    margin-top: 250px;
    margin-bottom: 250px;
}

#title_portfolio {
    background-image: url("images/quiz4_image4.png");
}

.download-button {
    margin: 5% 3% 5% 0;
}

.title-image {
    width: 70%;
    position: relative;
}

.studdyBuddy_container_portfolio {
    margin-top: 100px;
}

.EnergieStudent_container_portfolio {
    margin-top: 100px;
}

div.polaroid {

  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 25px;
  margin-left: auto;
  margin-right: auto;

}

div.container {
  text-align: center;
  padding: 10px 20px;
}

#values {
    padding: 7% 15%;
    text-align: center;
    background-color: #334d9af5;
}
.skills_container {
    margin-top: 80px;

}

#proces {
    padding: 7% 15%;
    text-align: center;
    background-color: #334d9af5;

}

#testimonial-carousel {
    margin-top: 60px;
}

#cta {
    background-color: #fffffff5;
    color: rgb(0, 0, 0);
    padding: 7% 15%;
    text-align: center; 
}

.cta-heading {
    font-family: 'Ubuntu';
    font-weight: bold;
    font-size: 3.5rem;
    line-height: 1.5;
}

#footer {
    padding: 7% 15%;
    text-align: center;
    background-color: #334d9af5;
}

.social-icon {
    margin: 20px 10px;

}


@media (max-width: 1028px) {
    #title {
        text-align: center;
    }
    .title-image{
        position: static;
        transform: rotate(0);
    }
}